<%- include("templates/header.ejs") %> <%- include("templates/navbar.ejs") %>

<div class="panel panel-form">
<h3><%= form.tituloText%></h3>
<form action="<%=form.action%>" method="<%=form.method%>">        
    <input
    type="text"
    name="contenidoCategoria"
    required
    placeholder="ej. Atención general"
    <% if (data[0].contenidoCategoria && form.inEditMode) { %>
        value="<%=data[0].contenidoCategoria %>" 
    <% } %> />
    <% if (data[0].idCategoria && form.inEditMode) { %>
    <input type="hidden" name="id" value="<%=data[0].idCategoria%>">
    <% } %>
    <button type="submit" class="boton"><%=form.buttonText%></button>
    </form>
<a href="/">Regresar</a>
</div>
<% if (!form.inEditMode) { %>
<div class="panel panel-tabla tabla-col3">
<div class="item-tabla item-tabla-head">#</div>
<div class="item-tabla item-tabla-head">Categoría</div>
<div class="item-tabla item-tabla-head">Acciones</div>
    <% for (let i = 0; i < data.length; i++) { %>
        <div class="item-tabla"><%= (i + 1)%></div>
        <div class="item-tabla"><%= data[i].contenidoCategoria%></div>
        <div class="item-tabla">
            <a href="/categorias/editar/<%=data[i].idCategoria%>">
                <button class="boton">Editar</button>
            </a>
            <a href="/categorias/eliminar/<%=data[i].idCategoria%>">
                <button class="boton">Eliminar</button>
            </a>
        </div>
    <% } %>
</div>
<% } %>


<%- include("templates/footer.ejs") %>
