<%- include("templates/header.ejs") %> <%- include("templates/navbar.ejs") %>

<div class="panel panel-form">
  <h3><%= form.tituloText %></h3>
  <form action="<%= form.action %>" method="<%= form.method %>">
    <select name="idPregunta">
      <% if (data.length > 0) { %> 
      <% for( let i = 0; i < data.length;
      i++ ) { %>
      <option value="<%= data[i].idPregunta %>">
        <%= data[i].contenidoPregunta %>
      </option>
      <% } %> <% } %>
    </select>
    <button class="boton" type="submit"><%= form.buttonText %></button>
  </form>
  <a href="/">Regresar</a>
</div>
<% if (!form.inEditMode && data2.length > 0) { %>
<div class="panel panel-tabla tabla-col4">
  <div class="item-tabla item-tabla-head">#</div>
  <div class="item-tabla item-tabla-head">Contenido de la pregunta</div>
  <div class="item-tabla item-tabla-head">Categoría</div>
  <div class="item-tabla item-tabla-head">Acciones</div>
  <% for (let i = 0; i < data2.length; i++) { %>
  <div class="item-tabla"><%= (i + 1) %></div>
  <div class="item-tabla"><%= data2[i].contenidoPregunta %></div>
  <div class="item-tabla"><%= data2[i].contenidoCategoria %></div>
  <div class="item-tabla">
    <a href="/encuesta/quitar/<%= data2[i].idPregunta %>">
      <button class="boton boton-tabla boton-rojo">Quitar de encuesta</button>
    </a>
  </div>
  <% } %> <% } %>
</div>

<script src="js/encuestaEventos.js"></script>
<%- include("templates/footer.ejs") %>
